<div class="modal-content" ng-init="loadProject()">
    <form ng-submit="saveProject(); closeProjectDetails()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeProjectDetails()" aria-hidden="true">&times;</button> 
            <h4 class="modal-title">Configure Project</h4>
        </div>
        <div class="modal-body">

            Project Name<br>
            <input type="text" id="project" name="project" ng-model="project.name" required unique-project><br><br>

            Database Host IP<br>
            <input type="text" name="host" ng-model="project.databaseConnection.host" required><br><br>
            Port<br>
            <input type="number" name="port" ng-model="project.databaseConnection.port"><br><br>
            Username<br>
            <input type="text" name="username" ng-model="project.databaseConnection.username" required><br><br>
            Password<br>
            <input type="password" name="password" ng-model="project.databaseConnection.password" required><br><br>
            <br>
            
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save Project">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="closeProjectDetails()">
        </div>
    </form>  
</div>
