<div data-ng-init="getProjectName()">
    <form ng-submit="deleteProject();closeDeleteProjectModal()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeDeleteProjectModal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Project</h4>
        </div>
        <div class="modal-body">
            The project <b>{{projectName}}</b> will be deleted. Are you sure you want to proceed?
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-danger" value="Delete Project">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="closeDeleteProjectModal()">
        </div>
    </form>
</div>
