<div>
    <div class="container">
        <h2>Current Projects</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects | orderObjectsBy:'name'">
                    <td>{{project.name}}</td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="openProjectDetails(project.name)">Edit</button>
                        <button type="button" class="btn btn-default" ng-click="openDeleteProjectModal(project.name)">Delete</button>
                        <button type="button" class="btn btn-default" ng-click="openProjectView(project.name)">View</button>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <button type="button" class="btn btn-default" ng-click="openProjectDetails()">Add Project</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
