<div class="view-proj">
    <h4>Different Layouts</h4>

    <button class="btn btn-default" ng-click="FDLayout()">Force Directed Layout</button>
    <button class="btn btn-default" ng-click="GLayout()">Grid Layout</button>
    <button class="btn btn-default" ng-click="CLayout()">Circular Layout</button>
    <button class="btn btn-default" ng-click="LDLayout()">Layered Digraph Layout</button>
    <button class="btn btn-default" ng-click="TLayout()">Tree Layout</button>

    <h4>Export</h4>

    <button class="btn btn-default" ng-click="PrintImage()">Export Image</button>

    <div ></div>

    <h3>Entity Relationship Diagram</h3>
    <span ng-bind-html="status"></span>
    <div class="diagramDiv">
        <div id="myDiagramDiv"></div>
        <div ng-if="hiddenNodes.length" class="hiddenNodes">
            <h4>Hidden Nodes:</h4>
            <div class="hiddenNodeScroll">
                <div ng-repeat="node in hiddenNodes | orderBy: 'data.key'" class="hiddenNode">
                    <div class="hiddenNodeText" title="{{ node.data.key }}">{{ node.data.key }}</div>
                    <button class="btn btn-sm showButton" ng-click="showNode(node)">Show</button>
                </div>
            </div>
        </div>
    </div>
</div>
