<html>
<head>
	<style>
		body {
			background: #202020;
			color: #ebfffc;
			text-align: center;
			margin: 100px 0 0 0;
			font-family: sans-serif;
		}
	</style>
</head>
<body>
	<h2>This is a test.</h2>
	<h1>{{ testText }}</h1>
</body>
</html>